{% extends "base.html" %}
{% block content %}

<h1 class="page-header">Detalle Con Vista Publica</h1>

<div class="row">
    <div class="col-md-9 col-md-push-3">
        {{object.name}}<br>
        {{object.title}}<br>
        {{object.area}}<br>
        {{object.teaching}}<br>
        <a href="{{MEDIA_URL}}/{{object.curriculum}}">Ver Curriculum </a><br>    
	</div>
	<div class="col-md-3 col-md-pull-9">
	    <img src='{{MEDIA_URL}}/{{object.image}}' height="170" width="150" >
    </div>
</div>
<br>


<a href="{% url 'datos' %}">Volver a Lista de Profesores</a>

{% endblock %}